<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oslab.agent.repository.organization.mapper.OrgMasterMapper">

    <insert id="registerOrganizationToPlatform" parameterType="com.oslab.agent.model.transfer.orgDto.RegOrgReqDto">
        INSERT INTO organization_master VALUES (0, #{org_name}, #{org_admin_id})
        <selectKey resultType="long" keyProperty="org_id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="addOrganizationToUser" parameterType="com.oslab.agent.model.transfer.orgDto.OrgReqDto">
        INSERT INTO user_organization VALUES (#{user_id}, #{org_id})
    </insert>

    <delete id="deleteOrganizationFromPlatform" parameterType="com.oslab.agent.model.transfer.orgDto.RegOrgReqDto">
        DELETE FROM organization_master WHERE org_name LIKE #{org_name}
    </delete>

    <insert id="addOrganizationToContributor" parameterType="com.oslab.agent.model.transfer.orgDto.AddOrgReqDto">
        INSERT INTO organization_contributor VALUES (#{org_id}, #{contributor_id}, #{contributor_email}, #{state}, now());
    </insert>

    <delete id="deleteOrganizationFromUser" parameterType="com.oslab.agent.model.transfer.orgDto.OrgReqDto">
        DELETE FROM user_organization WHERE user_id LIKE #{user_id} AND org_id LIKE #{org_id}
    </delete>

    <select id="getProjectInfo" parameterType="Integer">
        SELECT
            op.project_id,
            op.project_name,
            cm.category_id,
            cm.prev,
            cm.next,
            sm.server_id,
            sm.server_name,
            sm.server_desc
        FROM organization_project op
                 LEFT OUTER JOIN category_master cm
                      USING (project_id)
                 LEFT OUTER JOIN server_master sm
                                 USING (category_id)
        WHERE op.org_id = #{org_id}
    </select>

    <select id="getOrgContributors" parameterType="Integer" resultType="com.oslab.agent.model.entity.orgEntity.OrgContributor">
        SELECT
            contributor_id,
            contributor_email,
            state
        FROM organization_contributor
        WHERE org_id=#{org_id}
    </select>

    <select id="getOrgUserPrivileges" parameterType="Integer">
        SELECT server_id FROM server_privileges WHERE user_id = #{user_id}
    </select>

    <select id="getOrgAdmin" parameterType="Integer" resultType="int">
        SELECT org_admin_id FROM organization_master WHERE org_id = #{org_id}
    </select>
</mapper>