<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oslab.agent.repository.organization.mapper.OrgProjectMapper">
    <insert id="addProject" parameterType="com.oslab.agent.model.transfer.orgDto.AddProjectDto">
        INSERT INTO organization_project VALUES (0, #{org_id}, #{project_name})
    </insert>
</mapper>