<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page Title</title>
</head>
<body style="font-family: Arial;
    text-align: center;
    color: black;">
<hr id="titleLine" style="border:7px solid rgba(167, 167, 167)">
<div style="text-align: center">
    <h1 id="title" style="margin-top: 3rem;">Please verify your email!</h1>
    <p id="desc" style="font-size: 1.2rem; margin-top: 3rem;" >Please enter the code below into Shade</p>
</div>
<div id="codeBox" style="margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    border: 2px solid #989898;
    text-align: center">
    <p id="codeDesc" style="font-size: 1.2rem;">verification code</p>
    <div id="inBox" style="margin-top: 1rem;
    margin-bottom: 3rem;
    display:inline-block;
    background-color: rgba(167, 167, 167, 0.2);">
        <p id="inviteCode" style="margin: 0; font-size: 1.5rem;" th:text="${text}">${text}</p>
    </div>
</div>
<footer>
    <hr id="footerLine" style="border:1px solid rgba(167, 167, 167, 0.4);">
    <p id="footDesc" style="color: rgba(167, 167, 167, 0.9);
    font-size: 0.8rem;">If authentication fails, try again. Finally contact the app manager.</p>
</footer>
</body>
</html>